[package]
name = "xdvdfs"
description = "Library for interacting with XISO/XDVDFS images"
keywords = ["no_std", "filesystem", "xdvdfs"]
readme = "README.md"

version.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true
homepage.workspace = true

exclude = ["**/*.iso", "**/*.xiso"]

[dependencies]
bincode = "1.3.3"
proc-bitfield = "0.2.2"
serde = { version = "1.0.159", default-features = false, features = ["derive"] }
serde-big-array = "0.5.1"
itertools = { version = "0.10.5", default-features = false }
arrayvec = { version = "0.7.2", default-features = false }

[features]
default = ["std", "read", "write"]
alloc = ["serde/alloc", "itertools/use_alloc"]
std = ["alloc", "serde/std", "itertools/use_std", "arrayvec/std"]
read = []
write = ["std"]

[lib]

[dev-dependencies]
rand = "0.8.5"
